[user]
        email = corpsepk@gmail.com
        name = Aleksandr Khramov
[alias]
        co = checkout
        st = status
        hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
        type = cat-file -t
        dump = cat-file -p
[core]
        autocrlf = input
        editor = vim
